.task-form{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .task-form h2{
    margin: 0;
  }
  
  .task-form > form{
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
  }
  
  .task-form > form > div{
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.6rem;
  }
  .task-form input,
  .task-form select,
  .task-form textarea{
    border: 0.5px solid #e9e9e9;
    border-radius: 8px;
    color: black;
    width: 100%;
    height: 50px;
  }

  .task-form input.error,
  .task-form select.error,
  .task-form textarea.error{
    border: 1px solid #ff0000;
  }
  
  .task-form > form > div > div{
    flex: 1;
  }
  .task-form textarea{
    min-height: 140px;
  }
  .task-form button{
    transition: all 0.3s ease-in-out;
    background-color: var(--global-primary-color);
    border-radius: var(--global-radius);
    border: 0;
    color: white;
    padding: 10px!important;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
  }
  .task-form button:hover{
    background-color: var(--global-secondary-color);
    padding: 10px;
  }
  .task-form > form > div > div > div,
  .task-form > form > div > div {
    color: var(--global-primary-color);
  }
 
@media (min-width:1300px) {
  .task-form{
    width: 50%;
  }
  .task-form > form > div{
      flex-direction: row;
  }
  .task-form input,
  .task-form select,
  .task-form textarea{
    width: 100%;
    height: 50px;
  }
}